# =============================================================
# == Individual files
# =============================================================

desktop.ini
.DS_Store

# =============================================================
# == Wild cards
# =============================================================

# =============================================================
# == Directories
# =============================================================
